body {
    display: flex;
    background-color: #992f4d;
    justify-content: center;
}
.container {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f25872;
    border: 2px solid #400e28;
    border-radius: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}